version: "3"
services:  # Lists all setup
    bold_api_database: # Service name
        build: # Defines build configuration
            dockerfile: ./docker/database.dockerfile  # Dockerfile location
            context: .  # This docker-compose file context
        image: bold/api_database  # Image name
        container_name: bold_api_database  # Container name
        volumes: # Defines volume configuration, used to preserve container content on host
            - "./database/api_data:/var/lib/mysql"  # {host_path}:{container_path}
        ports: # Ports to expose, may be used to link a host port to container port with {host_port}:{container_port}
            - "3306"
        environment: # Defines environment variable
            MYSQL_ROOT_PASSWORD: mysql
            MYSQL_USER: mysql
            MYSQL_PASSWORD: mysql
            MYSQL_DATABASE: mysql
        networks: # Defines intranet (container context) networks
            - bold_network
        restart: always  # Defines restart policy

    bold_api1:
        build:
            dockerfile: docker/api.dockerfile
            context: .
        image: bold/api
        container_name: bold_api1
        volumes:
            - "./docker/config/api_apache.conf:/etc/apache2/conf-enabled/api_apache.conf"
        command: bash -c "python wait_for_database.py && python manage.py collectstatic --noinput && python manage.py makemigrations && python manage.py migrate && python manage.py createsuperuser --noinput || true && apache2ctl -D FOREGROUND"
        ports:
            - "3000"
        environment:
            API_PORT: 3030  # API_PORT is used to set CSRF_TRUSTED_ORIGINS, must be the used by api_load_balancer
            DJANGO_SUPERUSER_USERNAME: admin
            DJANGO_SUPERUSER_PASSWORD: admin
            DJANGO_SUPERUSER_EMAIL: admin@admin.com
            MYSQL_NAME: mysql
            MYSQL_USER: mysql
            MYSQL_PASSWORD: mysql
            MYSQL_HOST: bold_api_database
            MYSQL_PORT: 3306
            APP_DOMAIN: ${APP_DOMAIN:-localhost}  # APP_DOMAIN is the domain name used by server. Usually set on PROD via console. If unset, uses 'localhost'.
            DEBUG: "False"  # DEBUG is used to set a test environment when running instance locally
        networks:
            - bold_network
        restart: always
        depends_on: # Defines what containers must be up in order to perform this service build
            - bold_api_database

    bold_api2:
        build:
            dockerfile: docker/api.dockerfile
            context: .
        image: bold/api
        container_name: bold_api2
        volumes:
            - "./docker/config/api_apache.conf:/etc/apache2/conf-enabled/api_apache.conf"
        command: bash -c "python wait_for_django_parent.py && python manage.py collectstatic --noinput && apache2ctl -D FOREGROUND"
        ports:
            - "3000"
        environment:
            API_PORT: 3030  # API_PORT is used to set CSRF_TRUSTED_ORIGINS, must be the used by api_load_balancer
            DJANGO_PARENT: bold_api1  # This instance will wait for DJANGO_PARENT pinging before runserver through wait_for_django_parent.py
            DJANGO_PARENT_PORT: 3000  # DJANGO_PARENT_PORT is the DJANGO_PARENT port
            DJANGO_SUPERUSER_USERNAME: admin
            DJANGO_SUPERUSER_PASSWORD: admin
            DJANGO_SUPERUSER_EMAIL: admin@admin.com
            MYSQL_NAME: mysql
            MYSQL_USER: mysql
            MYSQL_PASSWORD: mysql
            MYSQL_HOST: bold_api_database
            MYSQL_PORT: 3306
            APP_DOMAIN: ${APP_DOMAIN:-localhost}  # APP_DOMAIN is the domain name used by server. Usually set on PROD via console. If unset, uses 'localhost'.
            DEBUG: "False"  # DEBUG is used to set a test environment when running instance locally
        networks:
            - bold_network
        restart: always
        depends_on:
            - bold_api_database

    bold_api3:
        build:
            dockerfile: docker/api.dockerfile
            context: .
        image: bold/api
        container_name: bold_api3
        volumes:
            - "./docker/config/api_apache.conf:/etc/apache2/conf-enabled/api_apache.conf"
        command: bash -c "python wait_for_django_parent.py && python manage.py collectstatic --noinput && apache2ctl -D FOREGROUND"
        ports:
            - "3000"
        environment:
            API_PORT: 3030  # API_PORT is used to set CSRF_TRUSTED_ORIGINS, must be the same used by api_load_balancer host side
            DJANGO_PARENT: bold_api1  # This instance will wait for DJANGO_PARENT pinging before runserver through wait_for_django_parent.py
            DJANGO_PARENT_PORT: 3000  # DJANGO_PARENT_PORT is the DJANGO_PARENT port
            DJANGO_SUPERUSER_USERNAME: admin
            DJANGO_SUPERUSER_PASSWORD: admin
            DJANGO_SUPERUSER_EMAIL: admin@admin.com
            MYSQL_NAME: mysql
            MYSQL_USER: mysql
            MYSQL_PASSWORD: mysql
            MYSQL_HOST: bold_api_database
            MYSQL_PORT: 3306
            APP_DOMAIN: ${APP_DOMAIN:-localhost}  # APP_DOMAIN is the domain name used by server. Usually set on PROD via console. If unset, uses 'localhost'.
            DEBUG: "False"  # DEBUG is used to set a test environment when running instance locally
        networks:
            - bold_network
        restart: always
        depends_on:
            - bold_api_database

    bold_api_load_balancer:
        build:
            dockerfile: ./docker/load_balancer.dockerfile
            context: .
        image: bold/api_load_balancer
        container_name: bold_api_load_balancer
        volumes:
            - "./docker/config/api_nginx.conf:/etc/nginx/nginx.conf"
        ports:
            - "3030:80"  # todo REMOVE 3030: on production, its used to access API admin directly
            - "443"
        networks:
            - bold_network
        depends_on:
            - bold_api1
            - bold_api2
            - bold_api3

    bold_services:
        build:
            dockerfile: ./docker/services.dockerfile
            context: .
        image: bold/services
        container_name: bold_services
        volumes:
            - "./services:/var/log"
        command: bash -c "python wait_for_django_parent.py touch /var/log/services.log && /app/now.sh >> /var/log/services.log && cron && tail -f /var/log/services.log"
        environment:
            TITLES: 'Game of Thrones, Peaky Blinders'  # Here you may pass one or more titles
            API_LOAD_BALANCER_NAME: bold_api_load_balancer
            API_KEY: ${API_KEY:-fc9ab012}
            DJANGO_PARENT: bold_api3  # This instance will wait for DJANGO_PARENT pinging before runserver through wait_for_django_parent.py
            DJANGO_PARENT_PORT: 3000  # DJANGO_PARENT_PORT is the DJANGO_PARENT port
        networks:
            - bold_network
        #restart: always
        depends_on:
            - bold_api_load_balancer

networks:  # Lists all intranet (container context) networks
    bold_network:  # Intranet (container context) network name
        driver: bridge  # Network driver type
